* {
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-container {
    padding: 25px 50px;
    border: 2px solid rgb(125, 125, 125);
    border-radius: 2em;
    margin: 60px auto;
    display: grid;
    background: #e7e7e7;
    gap: 35px;
    grid-template-rows: 120px 90px 400px 70px 100px;
}

header {
    grid-row: 1;
    display: flex;
    align-items: center;
    gap: 30px;
}

.location-container {
    grid-row: 2;
    border: 2px solid rgb(218, 218, 218);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.loc {
    display: flex;
    flex-direction: column;
}

.main-content {
    display: grid;
    border: 2px solid rgb(218, 218, 218);
    grid-row: 3;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: .5fr 1fr;

}

.weather-container {
    grid-column: 1;
    grid-row: 1;
    border: 2px solid black;
}

.map-container {
    grid-column: 2;
    grid-row: 1/-1;
}

.loctions-table {
    grid-column: 1;
    grid-row: 2;
    /* height: 300px; */
    border: 2px solid black;
}

.btns-container {
    grid-row: 4;
    justify-content: end;
    display: flex;
}

.btn {
    border-radius: 2em;
    height: 25px;
    width: max-content;
}

.btn:hover{
    cursor: pointer;
    background: #f4f3f3bc;
}


footer {
    grid-row: 5;
    color: rgb(250, 152, 72);
    font-size: 1.5em;
    font-family: fantasy;
    text-align: center;
    justify-content: end;
    display: flex;
}

.search-bar {
    width: 200px;
    height: 30px;
}

h1 {
    color: rgb(250, 152, 72);
    font-size: 4em;
    font-family: fantasy;
    line-height: 0px;
    letter-spacing: 0.01em;
}